body {
    background-color: var(--light-grey);
}

.rounded-lg {
    border-radius: var(--rounded-lg);
}

.custom-stepper ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

/* Remover as setas nos campos de input number */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
