@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	/* Variaveis para cores: */
	--danger: #b5483e;
	--dark-grey: #27272d;
	--light-grey: #e7e7e7;
	--valid: #409966;
	--variant-one: #708c7e;
	--variant-two: #b5a8c9;
	--variant-green-highlight: #708c7e2b;
	--variant-green-hover: #708c7e9c;
	--white: #f9f9f9;

	/* Fontes */
	--title-font: "Alexandria", sans-serif;
	--body-font: "Inter", sans-serif;

	/* Shadow */
	--shadow-default: 0px 4px 10px rgba(0, 0, 0, 0.1);

	/* Border Radius */
	--rounded-lg: 70px;
	--rounded-sm: 40px;
}

.rounded-lg {
	border-radius: var(--rounded-lg);
}

.rounded-sm {
	border-radius: var(--rounded-sm);
}

.background-white {
	background-color: var(--white);
}

.btn-variant-one {
	background-color: var(--variant-one);
	color: var(--white);
}

.btn-variant-two {
	background-color: var(--variant-two);
	border: none;
	color: var(--white);
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
	background-color: none;
}

::-webkit-scrollbar-thumb {
	background-color: var(--light-grey);
	border-radius: 10px;
	width: 15px;
	height: 30px;
}

#dropdown-user::after {
	display: none !important;
}

/* Scroll bar */
.pagination {
	margin-top: 1rem;
	gap: 0.5rem;
}

.page-item {
	border-radius: 6px;
}

.page-item .page-link {
	color: var(--variant-one);
	border-radius: 6px;
	border: 1px solid #dee2e6;
	padding: 0.4rem 0.75rem;
	background-color: var(--white);
	transition: background-color 0.3s;
	font-size: 16px;
}

.page-item .page-link:hover {
	color: var(--white);
	background-color: var(--variant-green-hover);
}

.page-item.active .page-link {
	background-color: var(--variant-one);
	border-color: var(--variant-one);
	color: var(--white);
}

.page-item.disabled .page-link {
	color: #ccc;
	background-color: #f8f9fa;
	border-color: #dee2e6;
}
