@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	/* Variaveis para cores: */
	--danger: #b5483e;
	--dark-grey: #27272d;
	--light-grey: #e7e7e7;
	--valid: #409966;
	--variant-one: #708c7e;
	--variant-two: #b5a8c9;
	--variant-green-highlight: #708c7e2b;
	--white: #f9f9f9;

	/* Fontes */
	--title-font: "Alexandria", sans-serif;
	--body-font: "Inter", sans-serif;

	/* Shadow */
	--shadow-default: 0px 4px 10px rgba(0, 0, 0, 0.1);

	/* Border Radius */
	--rounded-lg: 70px;
	--rounded-sm: 40px;
}

.rounded-lg {
	border-radius: var(--rounded-lg);
}

.rounded-sm {
	border-radius: var(--rounded-sm);
}

.background-white {
	background-color: var(--white);
}

.btn-variant-one {
	background-color: var(--variant-one);
	color: var(--white);
}

.btn-variant-two {
	background-color: var(--variant-two);
	border: none;
	color: var(--white);
}
